
@font-face {
    font-family: HankenGrotesk;
    src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

body {
    font-family: HankenGrotesk, sans-serif;
    margin: 0 auto;
    padding: 0;
}